.header__logo {
    width: 250px;
    margin-right: 130px;
  }
  .header__profile {
    width: 80px;
  }
  .header__like {
    width: 80px;
    margin-right: 100px;
  }
  .header__lupa {
    width: 80px;
    margin-right: 100px;
  }
  .buscador input {
    border: 1px;
    border-radius: 32px;
    width: 25%;
    padding: 8px;
  }