header nav {
    font-size: 20px;
  }
  nav ul {
    list-style: none;
    padding-left: 0;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  nav li:hover {
    background-color: #a5a4a4;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }