@media only screen and (max-width: 768px){
 /* Menú */
   header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
   }
   header .logo{
    width: 200px;
   }
   header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   header nav li{
    list-style: none;
    padding: 10px 30px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
   }
   header nav li a{
    text-decoration: none;
    color: white;
   }
   header nav li a:hover{
    color: yellow;
   }
   header .profile {
    width: 50px;
   }
   .menuMobile {
   display: none;
   }
   .favorites{
   width: 50px;
   } 
   .profile_movil{
   width: 50px;
   }    

   /* Carousel */
   .carousel-item {
      height: 390px;
   }
   .carousel-item img {
      height: 85%;
      width: 85%;
      object-fit: cover;
   }

   /* Icons */
   .header__logo{
    width: 250px;
    margin-right: 130px;
   }
   .header__profile{
    width: 80px;
   }
   .header__like{
    width: 80px;
    margin-right: 100px;
   }
   .header__lupa{
   width: 80px;
   margin-right: 100px
   }
   header{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }  
   .mobile__app{
    margin: 3px ;
    display:flex;
   }  

   /* Search */
   .search_movil{
   width: 50px;    
   }  
   .navbar-brand{
    margin-left: 2cm;
    margin-right: 2cm;
   } 
   .navbar-brand{
    margin-left: 1cm;
    margin-right: 1cm; 
   }  
   .container-md{
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    flex-basis: 100%;
   }  
 
   /* Index */
   .cuadrados{
      margin: 10px 0;
      display: flex; 
      justify-content: space-around;
      background-image: url(../img/background.png);
      background-position: bottom center;
      background-size: 100% 50%;
      background-color:#fffffff8;
      background-repeat: no-repeat;
   }
   .cuadrados section{
      border: 7px solid rgb(26, 26, 26);
      border-radius: 25px;
      padding: 20px; 
      background-color: rgb(0, 0, 0);
   }    
   .button{
      display: flex;
      margin-top: 170px;
      margin-bottom: 200px;
      background-color: rgb(0, 0, 0);
      border: rgb(0, 0, 0);
      border-radius: 50px;
   }
   .button2{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 40px;
      padding: 50px;
   }   
   .marketing1{
      display: grid;
      text-align: center;
      font-size: 15px;
      font-family: sans-serif;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 20px;
      background-color: rgb(0, 0, 0);
      background-size: 30% 80%;
      background-repeat: no-repeat;
   }
   .titulo-services{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 50px;
      border-radius: 10px;
      text-align: center;
      margin-top: 3cm;
      margin-left: 1cm;
      margin-right: 1cm;
      margin-left: 1cm;
      padding: 20px;
      color:rgb(255, 255, 255);
      background-color: black;
   }

   /* Main About Us */
   .staff{
    flex-wrap: wrap;
    flex-basis: 100%;   
    margin:1px;
  }
   .staff-uno{
    margin-bottom: 50px;
    margin-left: 100px;
    border-radius: 10px;
    width:270px;
    height:300px
  }
   .staff-dos{
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width:270px;
    height:300px
  }
   .staff-tres{
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 50px;
    width:270px;
    height:300px
  }
   .staff-cuatro{
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width:270px;
    height:300px
  }
   .staff-cinco{
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 100px;
    width:270px;
    height:300px
  }
   .staff-seis{
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width:270px;
    height:300px
  }
   .staff-siete{
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 100px;
    width:270px;
    height:300px
  }
   .staff-ocho{
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width:270px;
    height:300px
  }
   .school{
     display: flex;
     justify-content: space-evenly;
     margin: 50px;
     margin-left: 3px;
     margin-right: 3px;
     margin-bottom: 3px;
     border-radius: 30px;
     background-color: rgb(341, 341, 341);
  } 
   .title-school{
     margin: 20px;
     font-size: 35px;
     align-items: center;
     margin-left: 1cm;
  }   
   .title-innovation{
     margin: 20px;
     font-size: 35px;
     align-items: center;
     margin-left: 120px;
  } 
   .she{
    margin: bottom 80px;
  } 
   .she-image{
    border-radius:30px;
    border: 5px solid black;
    width:400px;
    height:400px;
  }
   .he{
    margin: bottom 80px;
  } 
   .he-image{
    border-radius:30px;
    border: 5px solid black;
    width: 400px;
    height: 400px;
  }
   .innovation{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
  } 
   .school .innovation{
     font-size: 25px;
  } 
   .button3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    height: 80px;
    width: 250px;
    text-align: center;
    padding-bottom: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50px;
  }
   .marketing4{
   display: flex;
   justify-content:space-around;
   align-items: center;
   background-image: url('../img/Background/04.png');
   background-size: 100% 50%;
   background-repeat: no-repeat; 
   flex-wrap: wrap;
  }
   .marketing-cuatro{
   display: flex; 
   align-items: center;
   justify-content: space-around;
   background-image: url(../img/background.png);
   background-position: bottom center;
   background-size: 250% 50%;
   background-color:#fffffff8;
   background-repeat: no-repeat;
   margin-left: 1cm;
   margin-right: 1cm;
   margin-bottom: 1cm;
  }
   .phone-uno{
    margin: 1px;
    width:275px;
    height:450px
  }
   .phone-dos{
    margin: 1px;  
    width:275px;
    height:450px
  }
   .marketing5{
    display: flex
  }
   .opinions{
   display: flex;
   flex-direction: column;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   gap: 10px;
   width: 100%;
   max-width: 900px;
   margin: 30px;
   margin-right: 1cm;
   
  }
   .card{
   display: flex;
   flex-direction: column;
   background-color: gainsboro;
   border-radius: 5px;
   align-items: center;
   text-align: center;
   margin-top: 100px;
   position: relative;
   padding: 75px 10px 10px 10px;
   margin-right: 50px;
   margin-left: 50px;
  } 
   .opinions .profile{
   width: 150px;
   height: 150px;
   position: absolute;
   top: -75px;
   border-radius: 50%;
  }  
   .opinions .star{ 
   width: 20px;
  } 

   /* Contact */
   .office{
    display:flex;
    align-items: center;
    flex-direction: column;
  }
   .space{
    border-radius: 10px;
    width:550px;
    height:300px;
    flex-basis: 100%;   
    margin: 10px;
  }
   .formulario{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #e7e7e6;
    border-radius: 10px;
  }
   .container-dos{
    margin-left: 90px;
    width: 700px;
  }

   /* Courses */
   .filters{
    display: grid;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    width: 50%;
    border: solid 2px rgb(255, 255, 255);
    border-style:20px;
    padding: 28px;
    margin-top: 3mm;
    margin-left: 3mm;
    border-radius: 20px;
    border: 2px solid black;
    width: 70%;
    
  }
   .courses{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
   .courses li{
   font-size: 30px;
   border: solid 2px black;
   border-radius: 20px;
   padding: 28px;
   list-style-type: none;
   text-align: center;
   margin-top: 3mm;
   width: 70%;
  }   
   .courses li a{
  background-color: white;
  color: black;
  padding: 4px;
  text-decoration: none;
  border: solid 3px black;
  border-radius: 10px;
  box-shadow: 0 1px black;
  display: inline-block;
  width: 100%;
  } 

   /* Academy */
   .background-bitz{
    margin: 10px 0;
    display: flex; 
    justify-content: space-around;
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }  
   .video{
    display: flex;
    justify-content: center;
  }
   .video video{ 
    width: 80%;
  }
   /* bootstrap */
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  } 
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  /* Footer Tutor */
  footer {
    padding: 20px;
  }
  .ultimaCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .redes {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    margin-top: 10px;
  }
  .botonPropio {
    background-color: yellow;
  }

  /* Botón Newletter */
  .btn-primary{
    color: rgb(0, 0, 0);                              
    background-color: #EDE83B;   
    border-color: #000000;            
  }
}

@media only screen and (max-width: 480px){
   /* Menú */
   header {
    flex-direction: column;
  }
   header nav {
    flex-direction: column;
  }
   header .logo {
    width: 200px;
  }
   header nav li {
    list-style: none;
    padding: 10px 30px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
  }
   header nav li a {
    text-decoration: none;
    color: white;
  }
   header nav li a:hover {
    color: yellow;
  }
   header .profile {
    width: 50px;
  }  
   .menuMobile {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
   .menuMobile div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
  }
   .menuMobile img {
    width: 30px;
  }
   .menuMobile span {
    display: block;
  }
   .favorites{
    flex-basis: 50%;
  }
   .profile_movil{
    flex-basis: 50%;
  }
   /*Logo profile */
   #profile__horizontal{
    display: none;
  }   

   /* Carousel */
   .carousel-item {
         height: 200px;
         flex-basis: 50%;
  }
   .carousel-item img {
         height: 100%;
         width: 100%;
         object-fit: cover;
  }

   /* Icons */
   .header__logo{
         width: 250px;
         margin-right: 130px;
  }
   .header__profile{
         width: 80px;
  }
   .header__like{
         width: 80px;
         margin-right: 100px;
  }
   .header__lupa{
         width: 80px;
         margin-right: 100px;
  }
   header { 
         display: flex;
         justify-content: space-evenly;
         align-items: center;
  }  
   .mobile__app{
         margin: 3px ;
         display:flex;
  }  

   /* Search */
   .search_movil{
          width: 50px;    
  }  
   .navbar-brand{
         margin-left: 2cm;
         margin-right: 2cm;
  }  
   .navbar-brand{
    flex-basis: 50%;
  }  
   .container-md{
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    margin-left: 20px;
    margin-right: 20px;
  }  

   /* Main Index */
   .cuadrados{
    flex-basis: 20%;
    flex-direction: column;
    border-radius: 2%;
    margin:3px;
    display: flex; 
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 200% 100%;
    background-repeat: no-repeat;
  }
   .cuadrados section{
    border: 7px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px; 
    background-color: rgb(0, 0, 0);
    justify-content: center;
  }    
   .section{
    flex-basis: 50%;

  }
   .button2{
    text-decoration: none;
    margin: 50px 0;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px; 
    padding: 20px;
    flex-basis: 50%;
  }   
   .button{
    flex-basis: 50%;
    display: flex;
    margin: 35px;
    background-color: rgb(0, 0, 0);
    border: rgb(255, 255, 255);
    border-radius: 50px;
  }  
   .titulo-services{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 3cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-left: 1cm;
    padding: 20px;
    color:rgb(255, 255, 255);
    background-color: black;
  }

   /* Contact */
   .office{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   .space{
    border-radius: 10px;
    width:100%;     
  }
   .formulario{
    padding: 3%;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }
   
  /* Courses */
   .courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }   
   .courses li{
    font-size: 30px;
    width: 100%;
    border: solid 2px black;
    border-radius: 20px;
    padding: 28px;
    list-style-type: none;
    text-align: center;
    margin-top: 3mm;
  }  
   .courses li a{
   background-color: white;
   color: black;
   padding: 4px;
   text-decoration: none;
   border: solid 3px black;
   border-radius: 10px;
   box-shadow: 0 1px black;
   display: inline-block;
   width: 100%;
  }  
   .filters{
    display: grid;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
    border: solid 2px rgb(255, 255, 255);
    border-style:20px;
    padding: 28px;
    margin-top: 3mm;
    margin-left: 3mm;
    border-radius: 20px;
    border: 2px solid black
  }

    /* Fields */
   .transition{
    height: 80px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 70px;
    padding: 50px;
    align-items: center;
    font-family: sans-serif;
    border: 5px solid #000;   
    height: 20vh;
  }   
   .field{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(#5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 10px;
  }    
   .marketing3{
    display: flex; 
    height: 15vh;
    background-color:#EDE83B;
    background-image: linear-gradient(#5271FF,#EDE83B,#BD55A2, #FF5859, #6BDDE9,#7ED957,#FF914D);
    background-image: linear-gradient(to left #5271FF,#EDE83B, #BD55A2,#FF5859,#6BDDE9,#7ED957,#FF914D);
    background-image: linear-gradient(to right #5271FF,#EDE83B,#BD55A2,#FF5859,#6BDDE9,#7ED957,#FF914D);
    background-image: linear-gradient(to top #5271FF,#EDE83B,#BD55A2,#FF5859,#6BDDE9, #7ED957,#FF914D);
    background-image: linear-gradient(to bottom #5271FF,#EDE83B,#BD55A2,#FF5859,#6BDDE9,#7ED957,#FF914D);
  }
   .banner__remix:hover{
    margin: 30px ;
    display: flex;
  }  
   .field img {
    height: 300px;
    width: 270px;  
    background-color: lightblue;
    border: 2px solid black
  }

   /* Academy */
   .background-bitz{
   margin: 10px 0;
   display: flex; 
   justify-content: space-around;
   background-image: url(../img/background.png);
   background-position: bottom center;
   background-size: 100% 50%;
   background-repeat: no-repeat;
  }  
   .video{
   display: flex;
   justify-content: center;
  }
   .video video{ 
   width: 80%;
  }

   /* Main About Us */
   .staff{
      flex-basis: 20%;
      flex-direction: column;
      margin:3px;
  }
   .staff-uno{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    width:270px;
    height:300px;
  }
   .staff-dos{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:270px;
    height:300px;
  }
   .staff-tres{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:270px;
    height:300px;
  }
   .staff-cuatro{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:270px;
    height:300px;
  }
   .staff-cinco{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:270px;
    height:300px;
  }
   .staff-seis{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:270px;
    height:300px;
  }
   .staff-siete{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:270px;
    height:300px;
  }
   .staff-ocho{
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:270px;
    height:300px;
  }
   .school{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    align-items: center;
  } 
   .title-school{
    margin: 1px;
    font-size: 60px;
    flex-direction: column;
  } 
   .title-innovation{
    margin: 15px;
    font-size: 40px;
  }  
   .she{
    margin: bottom 80px;
  } 
   .she-image{
    margin-right: 20px;
    flex-basis: 50%;
    border-radius:30px;
    border: 5px solid black;
    width:270px;
    height:300px;
  }
   .he{
    margin: bottom 80px;
  } 
   .he-image{
    border-radius:30px;
    border: 5px solid black;
    width:270px;
    height:300px;
  }
   .attributes{
    margin-left: 8px;
    list-style: none;
  } 
   .innovation{
     display: flex;
     flex-basis: 50%;
  } 
   .school .innovation{
     font-size: 25px;
  } 
   .button3{
     display: flex;   
     height: 80px;
     width: 280px;
     margin: 2px;
     background-color: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
     border-radius: 50px;
  }
   .marketing-cuatro{
     display: flex; 
     flex-direction: column;
     margin-bottom: 90px;
     border-radius: 15px;
     justify-content: space-around;
     background-image: url(../img/background.png);
     background-position: bottom center;
     background-size: 100% 50%;
     background-color:#fffffff8;
     background-repeat: no-repeat;
  }
   .phone-uno{
     margin: 1px;
     width:175px;
     height:300px
  }
   .phone-dos{
    margin: 1px;  
    width:175px;
    height:300px
  }
   .marketing5{
    display: none
  }
   .opinions{
   display: flex;
   flex-direction: column;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   gap: 10px;
   width: 100%;
   max-width: 900px;
   margin: 0 auto;
  }
   .card{
   display: flex;
   flex-direction: column;
   background-color: gainsboro;
   border-radius: 5px;
   align-items: center;
   text-align: center;
   margin-top: 100px;
   position: relative;
   padding: 75px 10px 10px 10px;
  }
   .opinions .profile{
   width: 150px;
   height: 150px;
   position: absolute;
   top: -75px;
   border-radius: 50%;
  }  
   .opinions .star{ 
   width: 20px;
  }  

   /* FOOTER - Bootstrap */
   .b-example-divider{
      display: none;
  } 
   .bi{
      display: flex;
  } 

   /*  FOOTER - Tutor */
   footer {
     flex-basis: 100%;
  }
   .ultimaCol {
     display: flex;
     flex-direction: column;
     justify-content: center;
  }
   .redes {
     display: flex;
     flex-direction: column;
  }
   .dropdown {
     margin-top: 10px;
  }
   .botonPropio {
     background-color: yellow;
  } 

   /* Botón Newsletter */
   .btn-primary{
     color: rgb(0, 0, 0);                              
     background-color: #EDE83B;   
     border-color: #000000;            
  }

   /* Others */
   .btn-secondary{
     display: flex;
  } 
} 