@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Menú */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

header .logo {
  width: 200px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav li {
  list-style: none;
  padding: 10px 30px;
  background-color: black;
  margin: 10px;
  border-radius: 10px;
}

header nav li a {
  text-decoration: none;
  color: white;
}

header nav li a:hover {
  color: black;
}

header nav li:hover {
  background-color: #EDE83B;
  color: black;
}

header .profile {
  width: 50px;
}

.menuMobile {
  display: none;
}

.favorites {
  width: 50px;
}

.profile_movil {
  width: 50px;
}

/* Carousel */
.carousel-item {
  height: 600px;
}

.carousel-item img {
  height: 100%;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Icons */
.header__logo {
  width: 250px;
  margin-right: 130px;
}

.header__profile {
  width: 80px;
}

.header__like, .header__lupa {
  width: 80px;
  margin-right: 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__app {
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Search */
.search_movil {
  width: 50px;
}

.navbar-brand {
  margin-left: 1cm;
  margin-right: 1cm;
}

.container-md {
  border-radius: 10px;
  background-color: white;
  border: 3px solid black;
}

/* Main Index */
.cuadrados {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../img/background.png);
  background-position: bottom center;
  background-size: 100% 50%;
  background-color: #fffffff8;
  background-repeat: no-repeat;
}

.cuadrados section {
  border: 7px solid #1a1a1a;
  border-radius: 25px;
  padding: 20px;
  background-color: black;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 170px;
  margin-bottom: 200px;
  background-color: black;
  border: black;
  border-radius: 50px;
}

.button2 {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding: 50px;
}

.button2:hover {
  color: #EDE83B;
}

.marketing1 {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  background-color: black;
  background-size: 30% 80%;
  background-repeat: no-repeat;
}

.titulo-services {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: black;
  margin-right: 3cm;
  margin-left: 4cm;
  margin-top: 5cm;
}

/* Main About Us */
.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;
}

.staff-uno {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.staff-dos {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.staff-tres {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.staff-cuatro {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.staff-cinco {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.staff-seis {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.staff-siete {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.staff-ocho {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 270px;
  height: 300px;
}

.attributes {
  margin-right: 1px;
  margin-bottom: 100px;
}

.school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 16px;
  border-radius: 30px;
  background-color: #f1f1f1;
}

.title-school {
  margin: 20px;
}

.title-innovation {
  margin: 40px;
}

.innovation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.school .innovation {
  font-size: 35px;
}

.button3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 300px;
  text-align: center;
  padding-bottom: 20px;
  background-color: black;
  color: #ffffff;
  border-radius: 50px;
}

.marketing4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/Background/04.png");
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.marketing-cuatro {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../img/background.png);
  background-position: bottom center;
  background-size: 100% 50%;
  background-color: #fffffff8;
  background-repeat: no-repeat;
}

.she {
  margin: bottom 80px;
}

.she-image {
  border-radius: 30px;
  border: 5px solid black;
  width: 370px;
  height: 400px;
}

.he {
  margin: bottom 80px;
}

.he-image {
  border-radius: 30px;
  border: 5px solid black;
  width: 400px;
  height: 400px;
}

.marketing5 {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  background-color: black;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  margin: 50px;
}

.phone-uno {
  margin: 1px;
  width: 275px;
  height: 450px;
}

.phone-dos {
  margin: 1px;
  width: 275px;
  height: 450px;
}

.opinions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 10px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: gainsboro;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 100px;
  position: relative;
  padding: 75px 10px 10px 10px;
}

.opinions .profile {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -75px;
  border-radius: 50%;
}

.opinions .star {
  width: 20px;
}

/* Contact */
.office {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space {
  border-radius: 20px;
  width: 450px;
  height: 450px;
  margin-left: 1cm;
  margin-right: 1cm;
  padding: 1px;
  background-color: #000000;
}

.formulario {
  margin: 100px;
  padding: 30px;
  background-color: #e7e7e6;
  border-radius: 5px;
}

.container-dos {
  margin-left: 120px;
  width: 30cm;
}

/* Courses */
.filters {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
  width: 50%;
  border: solid 2px white;
  border-style: 20px;
  padding: 28px;
  margin-top: 3mm;
  margin-left: 3mm;
  border-radius: 20px;
  border: 2px solid black;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses li {
  font-size: 30px;
  width: 50%;
  border: solid 2px black;
  border-radius: 20px;
  padding: 28px;
  list-style-type: none;
  text-align: center;
  margin-top: 3mm;
}

.courses li a {
  background-color: white;
  color: black;
  padding: 4px;
  text-decoration: none;
  border: solid 3px black;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  display: inline-block;
  width: 100%;
}

/* Maps */
.btn--violet-programming {
  background-color: #BD55A2;
}

.btn--red-data {
  background-color: #FF5859;
}

.btn--green-marketing {
  background-color: #6BDDE9;
}

.btn--yellow-design {
  background-color: #EDE83B;
}

.btn--pink-content {
  background-color: #FF66C4;
}

.btn--green2-product {
  background-color: #7ED957;
}

.btn--blue-ia {
  background-color: #5271FF;
}

.btn--orange-softskills {
  background-color: #FF914D;
}

/* Fields */
.transition {
  height: 80px;
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 70px;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  border: 5px solid #000;
  height: 20vh;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5271FF), color-stop(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
  background-image: linear-gradient(#5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 10px;
}

.marketing3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  background-color: #EDE83B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5271FF), color-stop(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
  background-image: linear-gradient(#5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
  background-image: -webkit-gradient(linear, left #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
  background-image: linear-gradient(to left #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
  background-image: -webkit-gradient(linear, right #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
  background-image: linear-gradient(to right #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
  background-image: -webkit-gradient(linear, top #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
  background-image: linear-gradient(to top #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
  background-image: -webkit-gradient(linear, bottom #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
  background-image: linear-gradient(to bottom #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
}

.banner__remix:hover {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field img {
  height: 300px;
  width: 270px;
  background-color: lightblue;
  border: 2px solid black;
}

/* Academy */
.background-bitz {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../img/background.png);
  background-position: bottom center;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video video {
  width: 80%;
}

/* bootstrap */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* Footer Tutor */
footer {
  padding: 20px;
}

.ultimaCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown {
  margin-top: 10px;
}

.botonPropio {
  background-color: yellow;
}

.linkedin-logo {
  max-width: 25px;
  max-height: 25px;
}

/* Botón Newletter y Submit */
.btn-primary {
  color: black;
  background-color: #EDE83B;
  border-color: #000000;
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
}

@media only screen and (max-width: 768px) {
  /* Menú */
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
  }
  header .logo {
    width: 200px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav li {
    list-style: none;
    padding: 10px 30px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
  }
  header nav li a {
    text-decoration: none;
    color: white;
  }
  header nav li a:hover {
    color: yellow;
  }
  header .profile {
    width: 50px;
  }
  .menuMobile {
    display: none;
  }
  .favorites {
    width: 50px;
  }
  .profile_movil {
    width: 50px;
  }
  /* Carousel */
  .carousel-item {
    height: 390px;
  }
  .carousel-item img {
    height: 85%;
    width: 85%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Icons */
  .header__logo {
    width: 250px;
    margin-right: 130px;
  }
  .header__profile {
    width: 80px;
  }
  .header__like, .header__lupa {
    width: 80px;
    margin-right: 100px;
  }
  .header__lupa {
    width: 80px;
    margin-right: 100px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__app {
    margin: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Search */
  .search_movil {
    width: 50px;
  }
  .navbar-brand {
    margin-left: 2cm;
    margin-right: 2cm;
  }
  .navbar-brand {
    margin-left: 1cm;
    margin-right: 1cm;
  }
  .container-md {
    border-radius: 10px;
    background-color: white;
    border: 3px solid black;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  /* Index */
  .cuadrados {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 100% 50%;
    background-color: #fffffff8;
    background-repeat: no-repeat;
  }
  .cuadrados section {
    border: 7px solid #1a1a1a;
    border-radius: 25px;
    padding: 20px;
    background-color: black;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 170px;
    margin-bottom: 200px;
    background-color: black;
    border: black;
    border-radius: 50px;
  }
  .button2 {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding: 50px;
  }
  .marketing1 {
    display: -ms-grid;
    display: grid;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    background-color: black;
    background-size: 30% 80%;
    background-repeat: no-repeat;
  }
  .titulo-services {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    border-radius: 10px;
    text-align: center;
    margin-top: 3cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-left: 1cm;
    padding: 20px;
    color: white;
    background-color: black;
  }
  /* Main About Us */
  .staff {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 1px;
  }
  .staff-uno {
    margin-bottom: 50px;
    margin-left: 100px;
    border-radius: 10px;
    width: 270px;
    height: 300px;
  }
  .staff-dos {
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width: 270px;
    height: 300px;
  }
  .staff-tres {
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 50px;
    width: 270px;
    height: 300px;
  }
  .staff-cuatro {
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width: 270px;
    height: 300px;
  }
  .staff-cinco {
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 100px;
    width: 270px;
    height: 300px;
  }
  .staff-seis {
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width: 270px;
    height: 300px;
  }
  .staff-siete {
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 100px;
    width: 270px;
    height: 300px;
  }
  .staff-ocho {
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    width: 270px;
    height: 300px;
  }
  .school {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 50px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 30px;
    background-color: white;
  }
  .title-school {
    margin: 20px;
    font-size: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1cm;
  }
  .title-innovation {
    margin: 20px;
    font-size: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 120px;
  }
  .she {
    margin: bottom 80px;
  }
  .she-image {
    border-radius: 30px;
    border: 5px solid black;
    width: 400px;
    height: 400px;
  }
  .he {
    margin: bottom 80px;
  }
  .he-image {
    border-radius: 30px;
    border: 5px solid black;
    width: 400px;
    height: 400px;
  }
  .innovation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .school .innovation {
    font-size: 25px;
  }
  .button3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100px;
    height: 80px;
    width: 250px;
    text-align: center;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .marketing4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/Background/04.png");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .marketing-cuatro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 250% 50%;
    background-color: #fffffff8;
    background-repeat: no-repeat;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
  }
  .phone-uno {
    margin: 1px;
    width: 275px;
    height: 450px;
  }
  .phone-dos {
    margin: 1px;
    width: 275px;
    height: 450px;
  }
  .marketing5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .opinions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    margin: 30px;
    margin-right: 1cm;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: gainsboro;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 100px;
    position: relative;
    padding: 75px 10px 10px 10px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .opinions .profile {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -75px;
    border-radius: 50%;
  }
  .opinions .star {
    width: 20px;
  }
  /* Contact */
  .office {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .space {
    border-radius: 10px;
    width: 550px;
    height: 300px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px;
  }
  .formulario {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #e7e7e6;
    border-radius: 10px;
  }
  .container-dos {
    margin-left: 90px;
    width: 700px;
  }
  /* Courses */
  .filters {
    display: -ms-grid;
    display: grid;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    width: 50%;
    border: solid 2px white;
    border-style: 20px;
    padding: 28px;
    margin-top: 3mm;
    margin-left: 3mm;
    border-radius: 20px;
    border: 2px solid black;
    width: 70%;
  }
  .courses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .courses li {
    font-size: 30px;
    border: solid 2px black;
    border-radius: 20px;
    padding: 28px;
    list-style-type: none;
    text-align: center;
    margin-top: 3mm;
    width: 70%;
  }
  .courses li a {
    background-color: white;
    color: black;
    padding: 4px;
    text-decoration: none;
    border: solid 3px black;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px black;
            box-shadow: 0 1px black;
    display: inline-block;
    width: 100%;
  }
  /* Academy */
  .background-bitz {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video video {
    width: 80%;
  }
  /* bootstrap */
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  /* Footer Tutor */
  footer {
    padding: 20px;
  }
  .ultimaCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown {
    margin-top: 10px;
  }
  .botonPropio {
    background-color: yellow;
  }
  /* Botón Newletter */
  .btn-primary {
    color: black;
    background-color: #EDE83B;
    border-color: #000000;
  }
}

@media only screen and (max-width: 480px) {
  /* Menú */
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo {
    width: 200px;
  }
  header nav li {
    list-style: none;
    padding: 10px 30px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
  }
  header nav li a {
    text-decoration: none;
    color: white;
  }
  header nav li a:hover {
    color: yellow;
  }
  header .profile {
    width: 50px;
  }
  .menuMobile {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .menuMobile div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: black;
  }
  .menuMobile img {
    width: 30px;
  }
  .menuMobile span {
    display: block;
  }
  .favorites {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .profile_movil {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  /*Logo profile */
  #profile__horizontal {
    display: none;
  }
  /* Carousel */
  .carousel-item {
    height: 200px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .carousel-item img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Icons */
  .header__logo {
    width: 250px;
    margin-right: 130px;
  }
  .header__profile {
    width: 80px;
  }
  .header__like, .header__lupa {
    width: 80px;
    margin-right: 100px;
  }
  .header__lupa {
    width: 80px;
    margin-right: 100px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__app {
    margin: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Search */
  .search_movil {
    width: 50px;
  }
  .navbar-brand {
    margin-left: 2cm;
    margin-right: 2cm;
  }
  .navbar-brand {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .container-md {
    border-radius: 10px;
    background-color: white;
    border: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
  }
  /* Main Index */
  .cuadrados {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2%;
    margin: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 200% 100%;
    background-repeat: no-repeat;
  }
  .cuadrados section {
    border: 7px solid white;
    border-radius: 25px;
    padding: 20px;
    background-color: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .button2 {
    text-decoration: none;
    margin: 50px 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .button {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 35px;
    background-color: black;
    border: white;
    border-radius: 50px;
  }
  .titulo-services {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 3cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-left: 1cm;
    padding: 20px;
    color: white;
    background-color: black;
  }
  /* Contact */
  .office {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .space {
    border-radius: 10px;
    width: 100%;
  }
  .formulario {
    padding: 3%;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  /* Courses */
  .courses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
  }
  .courses li {
    font-size: 30px;
    width: 100%;
    border: solid 2px black;
    border-radius: 20px;
    padding: 28px;
    list-style-type: none;
    text-align: center;
    margin-top: 3mm;
  }
  .courses li a {
    background-color: white;
    color: black;
    padding: 4px;
    text-decoration: none;
    border: solid 3px black;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px black;
            box-shadow: 0 1px black;
    display: inline-block;
    width: 100%;
  }
  .filters {
    display: -ms-grid;
    display: grid;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
    border: solid 2px white;
    border-style: 20px;
    padding: 28px;
    margin-top: 3mm;
    margin-left: 3mm;
    border-radius: 20px;
    border: 2px solid black;
  }
  /* Fields */
  .transition {
    height: 80px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 70px;
    padding: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: sans-serif;
    border: 5px solid #000;
    height: 20vh;
  }
  .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5271FF), color-stop(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
    background-image: linear-gradient(#5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 10px;
  }
  .marketing3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15vh;
    background-color: #EDE83B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5271FF), color-stop(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
    background-image: linear-gradient(#5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
    background-image: -webkit-gradient(linear, left #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
    background-image: linear-gradient(to left #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
    background-image: -webkit-gradient(linear, right #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
    background-image: linear-gradient(to right #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
    background-image: -webkit-gradient(linear, top #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
    background-image: linear-gradient(to top #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
    background-image: -webkit-gradient(linear, bottom #5271ff, from(#EDE83B), color-stop(#BD55A2), color-stop(#FF5859), color-stop(#6BDDE9), color-stop(#7ED957), to(#FF914D));
    background-image: linear-gradient(to bottom #5271FF, #EDE83B, #BD55A2, #FF5859, #6BDDE9, #7ED957, #FF914D);
  }
  .banner__remix:hover {
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .field img {
    height: 300px;
    width: 270px;
    background-color: lightblue;
    border: 2px solid black;
  }
  /* Academy */
  .background-bitz {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video video {
    width: 80%;
  }
  /* Main About Us */
  .staff {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3px;
  }
  .staff-uno {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    width: 270px;
    height: 300px;
  }
  .staff-dos {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 270px;
    height: 300px;
  }
  .staff-tres {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 270px;
    height: 300px;
  }
  .staff-cuatro {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 270px;
    height: 300px;
  }
  .staff-cinco {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 270px;
    height: 300px;
  }
  .staff-seis {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 270px;
    height: 300px;
  }
  .staff-siete {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 270px;
    height: 300px;
  }
  .staff-ocho {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 270px;
    height: 300px;
  }
  .school {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 20px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title-school {
    margin: 1px;
    font-size: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-innovation {
    margin: 15px;
    font-size: 40px;
  }
  .she {
    margin: bottom 80px;
  }
  .she-image {
    margin-right: 20px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border-radius: 30px;
    border: 5px solid black;
    width: 270px;
    height: 300px;
  }
  .he {
    margin: bottom 80px;
  }
  .he-image {
    border-radius: 30px;
    border: 5px solid black;
    width: 270px;
    height: 300px;
  }
  .attributes {
    margin-left: 8px;
    list-style: none;
  }
  .innovation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .school .innovation {
    font-size: 25px;
  }
  .button3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 280px;
    margin: 2px;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  .marketing-cuatro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 90px;
    border-radius: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url(../img/background.png);
    background-position: bottom center;
    background-size: 100% 50%;
    background-color: #fffffff8;
    background-repeat: no-repeat;
  }
  .phone-uno {
    margin: 1px;
    width: 175px;
    height: 300px;
  }
  .phone-dos {
    margin: 1px;
    width: 175px;
    height: 300px;
  }
  .marketing5 {
    display: none;
  }
  .opinions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: gainsboro;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 100px;
    position: relative;
    padding: 75px 10px 10px 10px;
  }
  .opinions .profile {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -75px;
    border-radius: 50%;
  }
  .opinions .star {
    width: 20px;
  }
  /* FOOTER - Bootstrap */
  .b-example-divider {
    display: none;
  }
  .bi {
    display: none;
  }
  /*  FOOTER - Tutor */
  footer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .ultimaCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown {
    margin-top: 10px;
  }
  .botonPropio {
    background-color: yellow;
  }
  /* Botón Newsletter */
  .btn-primary {
    color: black;
    background-color: #EDE83B;
    border-color: #000000;
  }
  /* Others */
  .btn-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=estilos.css.map */